.boards-wrapper
  $margin: 1em

  +display(flex)
  +flex-wrap(wrap)
  +flex-flow(row wrap)
  margin: $margin (-$margin)

  .board
    +transition
    +flex(0 0 25%)
    cursor: pointer

    .inner
      background: $light-gray
      border-radius: $base-border-radius
      margin: $margin
      line-height: 1.75em
      overflow: hidden
      padding: $base-spacing/2
      min-height: 5em


    &.form
      input
        +fill-parent
        margin-bottom: .5em

    &.add-new
      .inner
        +transition
        background: rgba(#000, .1)
        cursor: pointer
        color: $gray

        &:hover
          background: rgba(#000, .2)

      .inner
        position: relative

        a
          +transition
          +transform(translate(-50%, -50%))
          display: block
          position: absolute
          top: 50%
          left: 50%
          color: $gray

.boards.show
  .view-header
    position: relative
    margin-bottom: 1em

    h3
      margin: 0
      color: #fff

    .board-users
      +transform(translateY(-50%))
      list-style: none
      margin: 0
      padding: 0
      position: absolute
      right: 0
      top: 50%

      > span > li
        display: inline-block
        margin-left: .5em

        &.connected
          opacity: 1

          .react-gravatar
            opacity: 1

        .react-gravatar, .add-new
          +transition
          border-radius: 50%
          width: 30px
          height: 30px
          opacity: .2

        .add-new
          +transition
          opacity: 1
          display: block
          position: relative
          border: 1px solid rgba(#fff, .5)
          color: rgba(#fff, .5)
          line-height: 1em
          font-size: .9em

          .fa
            +transform(translate(-50%, -50%))
            position: absolute
            top: 50%
            left: 50%

          &:hover
            color: #fff
            border-color: #fff

        .drop-down
          +transition
          position: absolute
          right: 0
          top: 100%
          list-style: none
          padding: $base-spacing/2
          background: $light-gray
          border-radius: $base-border-radius
          min-width: 20em
          display: none

          &.active
            display: block

          form
            input
              +fill-parent
              margin-bottom: .5em

      .avatar-appear
        opacity: 0.01

      .avatar-appear.avatar-appear-active
        +transition(opacity .5s ease-in)
        opacity: 1

      .avatar-enter
        opacity: 0.01

      .avatar-enter.avatar-enter-active
        +transition(opacity 500ms ease-in)
        opacity: 1

      .avatar-leave
        opacity: 1

      .avatar-leave.avatar-leave-active
        +transition(opacity 300ms ease-in)
        opacity: 0.01

  .lists-wrapper
    $margin: 1em

    +display(flex)
    +flex-wrap(wrap)
    +flex-flow(row wrap)
    margin: 0 (-$margin/2)

    .list
      +transition
      +flex(0 0 17em)
      margin: 0 $margin/2

      > .inner
        background: $light-gray
        border-radius: $base-border-radius
        padding: $base-spacing/2

      header
        margin-bottom: $base-spacing/2

      &.form
        input
          +fill-parent
          margin-bottom: .5em

      &.add-new
        .inner
          +transition
          background: rgba(#000, .1)
          cursor: pointer
          color: $gray

          &:hover
            background: rgba(#000, .2)
      footer
        .add-new
          +transition
          display: block
          margin: -($base-spacing/2)
          margin-top: $base-spacing/2
          padding: .5em $base-spacing/2
          color: $gray
          border-radius: 0 0 $base-border-radius $base-border-radius

          &:hover
            background: $gray
            color: $dark-gray

      .card:not(.form)
        +transition
        background: #fff
        margin-bottom: $base-spacing/3
        padding: $base-spacing/3
        border-radius: $base-border-radius
        border-bottom: 1px solid $gray
        cursor: pointer

        &:hover
          background: rgba($gray, .4)

      .card.form
        textarea
          +fill-parent
          margin-bottom: .5em
          border: 0px none
          border-bottom: 1px solid $gray
